In [11]:
import pandas as pd
import numpy as np
import math

In [12]:
# Функция для нахождения вершины с минимальным расстоянием
def min_distance(dist, visited):
    min_dist = np.inf
    min_index = -1
    for v in range(len(dist)):
        if dist[v] < min_dist and not visited[v]:
            min_dist = dist[v]
            min_index = v
    return min_index

# Функция для нахождения кратчайшего пути
def dijkstra_algorithm(graph, start, end):
    # Инициализация переменных
    dist = [np.inf] * len(graph)
    dist[start] = 0
    visited = [False] * len(graph)
    prev = [-1] * len(graph)

    # Выполнение алгоритма
    for i in range(len(graph)):
        v = min_distance(dist, visited)
        visited[v] = True
        if v == end:
            break
        for j in range(len(graph)):
            if graph[v][j] != 0 and not visited[j]:
                if dist[v] + graph[v][j] < dist[j]:
                    dist[j] = dist[v] + graph[v][j]
                    prev[j] = v

    # Составление пути
    path = [end]
    while prev[path[-1]] != -1:
        path.append(prev[path[-1]])
    path.reverse()

    # Возвращение результата
    return dist[end], path

In [13]:
df = pd.ExcelFile("Data_Metro.xlsx")
df = df.parse()
df = df.drop(columns='Unnamed: 0')
stations = list(df.columns)
df.head()

,Новослободская,Проспект мира К,Комсомольская,Курская К,Таганская К,Павелецкая К,Добрынинская,Октябрьская К,Парк Культуры К,Киевская К,...,Кропотинсая,Библиотека им. Ленина,Охотный ряд,Лубянка,Чистые пруды,Красные Ворота,Комсомольская Кр,Трубная,Сретенский Бульвар,Чкаловская
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
i = 0
for column in df:
    df[str(column)][i] = 0
    i += 1
df.head()

,Новослободская,Проспект мира К,Комсомольская,Курская К,Таганская К,Павелецкая К,Добрынинская,Октябрьская К,Парк Культуры К,Киевская К,...,Кропотинсая,Библиотека им. Ленина,Охотный ряд,Лубянка,Чистые пруды,Красные Ворота,Комсомольская Кр,Трубная,Сретенский Бульвар,Чкаловская
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,4.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
for i in range(df.shape[0]):
    for j in range(df.shape[1]):
        df.iloc[i,j] = df.iloc[j,i]
df.head()

,Новослободская,Проспект мира К,Комсомольская,Курская К,Таганская К,Павелецкая К,Добрынинская,Октябрьская К,Парк Культуры К,Киевская К,...,Кропотинсая,Библиотека им. Ленина,Охотный ряд,Лубянка,Чистые пруды,Красные Ворота,Комсомольская Кр,Трубная,Сретенский Бульвар,Чкаловская
0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,4.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
3,NaN,NaN,4.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
4,NaN,NaN,NaN,4.0,0.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.replace(np.nan, math.inf, inplace=True)
df.head()

,Новослободская,Проспект мира К,Комсомольская,Курская К,Таганская К,Павелецкая К,Добрынинская,Октябрьская К,Парк Культуры К,Киевская К,...,Кропотинсая,Библиотека им. Ленина,Охотный ряд,Лубянка,Чистые пруды,Красные Ворота,Комсомольская Кр,Трубная,Сретенский Бульвар,Чкаловская
0,0.0,4.0,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
1,4.0,0.0,4.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2,inf,4.0,0.0,4.0,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,5.0,inf,inf,inf
3,inf,inf,4.0,0.0,4.0,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,6.0
4,inf,inf,inf,4.0,0.0,3.0,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf

In [20]:
df_metro = df

print("Введите маршрут")
print("От:")
start_station = input()
print("До:")
end_station = input()

distance, path = dijkstra_algorithm(df_metro.values, stations.index(start_station), stations.index(end_station))
print()
print("Кратчайшее время в пути:", distance, "минут")
print("Кратчайший путь:")
for el in path:
    print(stations[el], end=' -> ')

Введите маршрут
От:
Таганская Ф
До:
Трубная

Кратчайшее время в пути: 15.0 минут
Кратчайший путь:
Таганская Ф -> Китай-город Ф -> Китай- город О -> Тургеневская -> Сретенский Бульвар -> Трубная ->